:root {
  --background-color: #373737;
  --text-color: white;
  --slide-height-ratio: 75%;
  --pagination-button-size: 4rem;
  --pagination-bullet-size: 2rem;
  font-size: 10px;
}

:root * {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.slider {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.slider__slide-selector {
  width: 0;
  height: 0;
}

.slider__slides {
  width: 100%;
  height: var(--slide-height-ratio);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.slider__slide {
  flex: 0 0 100%;
  height: 100%;
  transition: margin 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.slider__controls {
  height: calc(100% - var(--slide-height-ratio));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider__controls > * {
  align-self: center;
}

.slider__caption {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.caption__option {
  flex: 0 0 100%;
  transition: margin 0.2s ease;
}

.slider__pagination {
  display: flex;
  flex-direction: row;
}

.pagination__button {
  width: var(--pagination-button-size);
  height: var(--pagination-button-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination__bullet {
  --bullet-color: #0078d4;
  width: var(--pagination-bullet-size);
  height: var(--pagination-bullet-size);
  background-color: var(--bullet-color);
  border: 3px solid var(--bullet-color);
  border-radius: 50%;
  transition: all 0.2s ease;
}

.pagination__button:hover .pagination__bullet {
  --bullet-color: white;
  transition: all 0.2s ease;
}

.pagination__button:active .pagination__bullet {
  --bullet-color: lightgray;
  transition: all 0.2s ease;
}

/* Navigate to the selected slide & caption */
#meme-1:checked~.slider__slides .first,
#meme-1:checked~.slider__controls .slider__caption .first {
  margin-left: calc(-100% * 0);
}

#meme-2:checked~.slider__slides .first,
#meme-2:checked~.slider__controls .slider__caption .first {
  margin-left: calc(-100% * 1);
}

#meme-3:checked~.slider__slides .first,
#meme-3:checked~.slider__controls .slider__caption .first {
  margin-left: calc(-100% * 2);
}

/* Style the selected pagination bullet */
#meme-1:checked~.slider__controls .pagination__button[for="meme-1"] .pagination__bullet {
  background-color: transparent;
}

#meme-2:checked~.slider__controls .pagination__button[for="meme-2"] .pagination__bullet {
  background-color: transparent;
}

#meme-3:checked~.slider__controls .pagination__button[for="meme-3"] .pagination__bullet {
  background-color: transparent;
}

.slider__slides::-webkit-scrollbar {
  display: none;
}